<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Hackdestino - RailsDay</title>

		<meta name="description" content="">
		<meta name="author" content="Andrew Fecheyr">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/sky.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

    <style>
      .big { font-size: 1.5em !important; }
    </style>

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<p>Ruby + Rails</p>
					<h1>Hackdestino</h1>
					<p>
          <small>Slides available at <a href="http://192.168.0.102:8000">http://192.168.0.102:8000</a> or <a href="https://github.com/andruby/RailsDay">github.com/andruby/RailsDay</a></small>
					</p>
				</section>

				<section>
					<h2>Agenda</h2>
          <ol>
            <li>Introduction to Ruby on Rails</li>
            <li>Good code</li>
            <li>Ruby 101</li>
            <li>BYO Twitter</li>
          </ol>

					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>

        <section>
          <p>Introduction to</p>
          <h1>Ruby on Rails</h1>
        </section>

        <section>
          <h2>Why?</h2>
          <ul>
            <li>Ruby</li>
            <li>DSL for writing web applications</li>
            <li>Large community → lots of libraries</li>
            <li>100% Open Source (MIT License)</li>
          </ul>
        </section>

        <section>
          <p>
          Many common web programming tasks, such as generating HTML, making
          data models, and routing URLs, are easy with Rails, and the resulting
          application code is concise and readable.
          </p>
        </section>

        <section>
          <h2>Who's using it?</h2>
          <div style="width: 70%; margin: 0 auto; ">
            <ul style="float: left; width: 45%">
              <li>37 Signals</li>
              <li>Twitter</li>
              <li>GitHub</li>
              <li>Shopify</li>
              <li>Scribd</li>
              <li>Disney</li>
              <li>Hulu</li>
            </ul>
            <ul style="float: left; width: 40%">
              <li>Groupon</li>
              <li>Bloomberg</li>
              <li>Airbnb</li>
              <li>SoundCloud</li>
              <li>Square</li>
              <li>Slideshare</li>
              <li>Penny Arcade</li>
            </ul>
          </div>
        </section>

        <section>
          <h2>MVC</h2>
          <p>Model View Controller</p>
          <img src="img/mvc.png" alt="MVC">
        </section>

        <section>
          <p> I have two rules for</p>
          <h1>Good code</h1>
        </section>

        <section>
          <p class="big"> Good code is code that is easy to change </p>
          <p>&nbsp;</p>
          <ul>
            <li>Don't Repeat Yourself</li>
            <li>Single Responsibility Principle</li>
            <li>Loosely coupled systems</li>
          </ul>
        </section>

        <section>
          <p class="big"> Write code for humans first<br>(for computers second)</p>
          <p>&nbsp;</p>
          <ul>
            <li>Clarity, maintenance, adaptability &gt; runtime performance</li>
            <li>Developement speed &gt; runtime performance</li>
          </ul>
        </section>

        <section>
          <h1>Ruby 101</h1>
        </section>

				<section>
          <p>Ruby is a dynamic, object-oriented, general purpose language designed for programmer productivity and fun</p>
					<aside class="notes">
            Fun means: not confusing, least amount of surprise for experienced devs, least amount of boilerplate code
					</aside>
				</section>

				<section>
					<h2>IRB</h2>
					<p>
          IRB is the Interactive Ruby Bash.<br>
          Start it from a console terminal with the <code>irb</code> command.
					</p>
          <pre><code data-trim class="bash">
$ irb
irb(main):001:0&gt; RUBY_VERSION
=&gt; "2.1.2"
          </code></pre>
				</section>

        <section>
          <h2>Sublime Text</h2>
          <p> ctrl+shift+b to run a saved .rb file </p>
          <img src="img/sublime.png" alt="sublime text 3">
        </section>

        <section>
          <h1>BYO Twitter</h1>
          <p>With <a href="http://www.railstutorial.org/book/static_pages" target="_blank">railstutorial.org</a> </p>
        </section>

        <section>
          <h2>RailsTutorial.org</h2>
          <p>We follow chapters 3 to 11 with these considerations:</p>
          <ul>
            <li>Rails 4.1 vs 4.0</li>
            <li>Skip testing for speed</li>
            <li>Git and Heroku are optional but encouraged</li>
          </ul>
        </section>

        <section>
          <p>Chapter 3</p>
          <h1>Mostly Static Pages</h1>
        </section>

        <section>
          <p>Generating our rails app skeleton</p>
          <pre><code data-trim>
rails new sample_app --skip-test-unit
cd sample_app
          </code></pre>
        </section>

        <section>
          <h2>Rails Folder Structure</h2>
          <table>
            <tr><th>app/</th><td>Core application code including Models, Views, Controllers</td></tr>
            <tr><th>app/assets/</th><td>Application assets (css, js, and images)</td></tr>
            <tr><th>bin/</th><td>rails and rake executables</td></tr>
            <tr><th>config/</th><td>Configuration</td></tr>
            <tr><th>db/</th><td>Database and migrations</td></tr>
            <tr><th>public/</th><td>Data accessible to the public</td></tr>
            <tr><th>test/</th><td>Directory for (unit, integration) tests</td></tr>
            <tr><th>vendor/</th><td>Third-party code</td></tr>
            <tr><th>Gemfile</th><td>List of external gem libraries used</td></tr>
            <tr><th>Gemfile.lock</th><td>Generated by Bundler with all gem versions</td></tr>
          </table>
        </section>

        <section>
          <p>Updated Gemfile</p>
          <pre><code class="ruby" id="gemfile-code" data-trim>
source 'https://rubygems.org'
ruby '2.1.2'

gem 'rails', '4.1.4'
gem 'sass-rails', '~> 4.0.3'
gem 'uglifier', '>= 1.3.0'
gem 'coffee-rails', '~> 4.0.0'
gem 'jquery-rails'
gem 'turbolinks'
gem 'jbuilder', '~> 2.0'

group :doc do
  gem 'sdoc', '~> 0.4.0'
end

group :development do
  gem 'sqlite3'
  gem 'spring'
end

group :production do
  gem 'pg'
  gem 'rails_12factor'
end
          </code></pre>
        </section>

        <section>
          <h2>Bundler</h2>
          <p>a package manager for Ruby Gems</p>
          <p>Avoid sudo in the VM with the <code>--path</code> option</p>
          <pre><code class="bash">bundle install --without production --path vendor/bundle</code></pre>
        </section>

        <section>
          <p>New in Rails 4.1:</p>
          <pre><code data-trim>
bin/rails
bin/rake
          </code></pre>
        </section>

<!--         Above the line for Andrew -->

<!--         Spacer -->

<!--         Spacer -->

<!--         Below the line for Thomas -->

        <section>
          <h2>chapter 6</h2>
          <p>Modeling the users</p>
        </section>

        <section>
          <h3>Active Record</h3>
          <ul>
            <li>a host of methods for creating, saving, and finding data objects</li>
            <li>no need to know SQL</li>
          </ul>
          <h3>Migration</h3>
          <ul>
            <li>provided by rails</li>
            <li>create new columns in SQL</li>
            <li>update SQL</li>
          </ul>
        </section>

        <section>
          <h3>create user</h3>
          <ul>
            <li>name</li>
            <li>email</li>
          </ul>
          <h3>create controller(in chapter 5)</h3>
          <pre><code class="bash">rails generate controller Users new</code></pre>
          <h3>create model</h3>
          <pre><code class="bash">rails generate model User name:string email:string
      invoke  active_record
      create    db/migrate/[timestamp]_create_users.rb
      create    app/models/user.rb
      invoke    rspec
      create      spec/models/user_spec.rb</code></pre>
        </section>


        <section>
          <h3>create db model</h3>
          <pre><code class="bash">bin/rake db:migrate</code></pre>
          <h3>revert db model</h3>
          <pre><code class="bash">bin/rake db:rollback</code></pre>

        </section>

        <section>
          <h3>create your first user, from the console</h3>
          <pre><code class="bash">bin/rails c</code></pre>
          <ul>
            <li>new</li>
            <li>save</li>
            <li>create</li>
            <li>destroy</li>
            <li>find</li>
            <li>update</li>
            <li>...</li>
          </ul>
        </section>

        <section>
          <h3>Validations</h3>
          <pre><code class="ruby" id="gemfile-code" data-trim>
class User < ActiveRecord::Base
  validates :name,  presence: true, length: { maximum: 50 }
  validates :email, presence: true, format: { with: VALID_EMAIL_REGEX },
                    uniqueness: true
  before_save { self.email = email.downcase }
  VALID_EMAIL_REGEX = /\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i
end
          </code></pre>
          <pre><code class="bash">bin/rails c</code></pre>
        </section>
        <section>
3 Available Callbacks
Here is a list with all the available Active Record callbacks, listed in the same order in which they will get called during the respective operations:

3.1 Creating an Object
before_validation
after_validation
before_save
around_save
before_create
around_create
after_create
after_save
after_commit/after_rollback
3.2 Updating an Object
before_validation
after_validation
before_save
around_save
before_update
around_update
after_update
after_save
after_commit/after_rollback
3.3 Destroying an Object
before_destroy
around_destroy
after_destroy
after_commit/after_rollback
</section>
        <section>
          <h3>add validation on db level</h3>
          <pre><code class="bash">rails generate migration add_index_to_users_email</code></pre>
          <pre><code class="ruby" id="gemfile-code" data-trim>
class AddIndexToUsersEmail < ActiveRecord::Migration
  def change
    add_index :users, :email, unique: true
  end
end
          </code></pre>
          <pre><code class="bash">bin/rake db:migrate</code></pre>
        </section>


        <section>
          <h3>adding a secure password</h3>
          <pre><code class="ruby" id="gemfile-code" data-trim>
class User < ActiveRecord::Base
  .
  .
  .
  has_secure_password
end      </code></pre>
          <pre><code class="bash">rails generate migration add_password_digest_to_users password_digest:string</code></pre>
          <pre><code class="bash">bin/rails c</code></pre>
        </section>

        <section>
          <h2>chapter 7</h2>
          <p>Sign up</p>
          <p>Skip</p>
        </section>

        <section>
          <h2>chapter 8</h2>
          <p>Sign in/sign out</p>
        </section>

        <section>
          <h3>create session controller</h3>
          <pre><code class="bash">rails generate controller Sessions</code></pre>
          <h3>routes</h3>
          <pre><code class="ruby" id="gemfile-code" data-trim>
SampleApp::Application.routes.draw do
  resources :users
  resources :sessions, only: [:new, :create, :destroy]
  root  'static_pages#home'
  # get '/signup' => 'users#new'
  get '/signin' => 'sessions#new'
  delete '/signout' => 'sessions#destroy'
end
          </code></pre>
        </section>

        <section>
          <h3>the session controller</h3>
          <pre><code class="ruby" id="gemfile-code" data-trim>
class SessionsController < ApplicationController

  def new
  end

  def create
  end

  def destroy
  end
end
          </code></pre>
        </section>

        <section>
        <p>app/views/sessions/new.html.erb</p>
          <pre><code class="ruby" id="gemfile-code" data-trim>
 <% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
        </code></pre>
      </section>
      <section>
        <p>values are given to create function in "params"</p>
        <pre><code class="ruby" id="gemfile-code" data-trim>
def create
  user = User.find_by(email: params[:session][:email].downcase)
  if user && user.authenticate(params[:session][:password])
    # Sign the user in and redirect to the user's show page.
      sign_in user
      redirect_to user
  else
    # Create an error message and re-render the signin form.
  end
end
        </code></pre>
      </section>

      <section>
        <p>create SessionsHelper in  app/helpers/sessions_helper.rb</p>
        <pre><code class="ruby" id="gemfile-code" data-trim>

module SessionsHelper
  def sign_in(user)
    remember_token = User.new_remember_token
    cookies.permanent[:remember_token] = remember_token
    user.update_attribute(:remember_token, User.digest(remember_token))
    self.current_user = user
  end

  def current_user=(user)
    @current_user = user
  end

  def current_user
    remember_token = User.digest(cookies[:remember_token])
    @current_user ||= User.find_by(remember_token: remember_token)
  end

end
        </code></pre>
      </section>

        <section>
          <h3>sign out</h2>
          <p>homework </p>
        </section>
        <section>
          <h3>chapter 9</h2>
          <p>homework </p>
        </section>
        <section>
          <h3>chapter 10</h2>
          <p>user microposts </p>
        </section>
        <section>
          <h3>generate miropost</h3>
          <pre><code class="bash">rails generate model Micropost content:string user_id:integer</code></pre>
        <pre><code class="ruby" id="gemfile-code" data-trim>
class CreateMicroposts < ActiveRecord::Migration
  def change
    create_table :microposts do |t|
      t.string :content
      t.integer :user_id

      t.timestamps
    end
    add_index :microposts, [:user_id, :created_at]
  end
end
        </code></pre>
        <section>
          <p>add validation</p>
          <p>do some tests in the command line</p>
          <p>request all the posts from a certain user</p>
        </section>
        </section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
